@import './../../../../../styles/variables';


.linea{
    border-bottom: solid 3px $color7;
}

.main-photo{
    border-radius: 10px;
    background-color: $color7;
    min-height: 260px;
}

.imgProfileEdit{
    border-radius: 10px;
    background-color: white;
    min-height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item{
    margin-top:20px !important;
    -webkit-box-shadow: 1px 3px 8px 5px rgba(194,194,194,1);
    -moz-box-shadow: 1px 3px 8px 5px rgba(194,194,194,1);
    box-shadow: 1px 3px 8px 5px rgba(194,194,194,1);
    border-radius: 10px;
    .img-item{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: $color7;
        border-radius: 10px 10px 0 0;             
        max-width: 100%;        
        min-width: 100%;
        max-height: 90.8vw;
        min-height: 90.8vw;
    }
}

:focus{
        outline: 0;
    }

.img-item2{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 300px !important;
        min-width: 100% !important;
    }
