<ion-header>
  <header class="p-3">
    <button [routerLink]="['/tabs-provider/portfolio']" class="btn1 pt-2 pb-2">Regresar</button>
  </header>
</ion-header>

<ion-content>
  <div class="row m-0 p-3 justify-content-center align-items-center">
    <img [routerLink]="['/tabs-provider/portfolio/products-provider/edit-products/0']" class="add" src="/assets/img/partials/add.svg">
</div>


<div class="p-3 row m-0 col-12">

    <div *ngFor="let prod of products"  class="row m-0 col-12 col-lg-3 p-2 mt-2">
        <div class="item row m-0 col-12 p-0">
            <div class="col-12 m-0 p-0 row justify-content-center">
                <div class="img-item" *ngIf="prod.images && prod.images.length > 0" [ngStyle]="{'background-image': 'url('+ getFirstImage(prod.images) +')'}">
                    <div class="row m-0 col-12 justify-content-end">                    
                        <img (click)="saveFeaturedProduct(prod.id, 0)" *ngIf="prod.featured == 1" width="30" class="mt-3" src="/assets/img/partials/star.svg" alt="">
                        <img (click)="saveFeaturedProduct(prod.id, 1)" *ngIf="prod.featured == 0" width="30" class="mt-3" src="/assets/img/partials/star-g.svg" alt="">
                    </div>
                </div>  
                <ng-container *ngIf="!prod.images || prod.images.length === 0">
                    <div class="img-item" *ngIf="prod.image.indexOf('data:image') > -1" [ngStyle]="{'background-image': 'url('+ prod.image +')'}">
                        <div class="row m-0 col-12 justify-content-end">                    
                            <img (click)="saveFeaturedProduct(prod.id, 0)" *ngIf="prod.featured == 1" width="30" class="mt-3" src="/assets/img/partials/star.svg" alt="">
                            <img (click)="saveFeaturedProduct(prod.id, 1)" *ngIf="prod.featured == 0" width="30" class="mt-3" src="/assets/img/partials/star-g.svg" alt="">
                        </div>
                    </div>  
                    <div class="img-item" *ngIf="prod.image.indexOf('data:image') === -1" [ngStyle]="{'background-image': 'url('+ urlBackEnd + getUriImage(prod.image) +')'}">
                        <div class="row m-0 col-12 justify-content-end">                    
                            <img (click)="saveFeaturedProduct(prod.id, 0)" *ngIf="prod.featured == 1" width="30" class="mt-3" src="/assets/img/partials/star.svg" alt="">
                            <img (click)="saveFeaturedProduct(prod.id, 1)" *ngIf="prod.featured == 0" width="30" class="mt-3" src="/assets/img/partials/star-g.svg" alt="">
                        </div>
                    </div> 
                </ng-container>
                 
            </div>
            <div class="ml-3 mt-2 col-12 m-0 p-0">
                <span class="f-11 font-700">{{prod.name}}</span>
                <div class="f-10 pr-3" *ngIf="prod.description && prod.description != '' && prod.description != 'null'" [innerHTML]="prod.description.substring(0,60)"></div> 
                <div *ngIf="prod.description && prod.description.length > 59"><span (click)='presentModal(prod.description)' class="cursor font-700 f-10 text-color2">...ver más</span></div>
                <div class="row m-0 col-11 justify-content-between p-0">
                    <p *ngIf="prod.price && prod.price != 'null'" class="f-12 text-color2 font-700">S/ {{prod.price | number:'1.2-2'}}</p>
                    <div class="row m-0 mt-2 justify-content-between col-12 p-0">
                        <button [routerLink]="['/tabs-provider/portfolio/products-provider/edit-products/'+prod.id]" class="btn3 mb-3 f-11 font-700 pt-2 pb-2">Editar</button>
                        <button (click)="deleteProduct(prod.id)" class="btn4 mb-3 f-11 font-700 pt-2 pb-2">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





</ion-content>
