<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

    <div class="p-4">
      <div class="search">
        <input (keyup.enter)="redireccionar()" class="f-12" type="search" [(ngModel)]="search" placeholder="Buscar...">
        <button (click)="redireccionar()" class="btn2 pt-3 pb-3 font-700">Buscar</button>
        <img src="/assets/img/partials/search.svg">
      </div>

      <!-- <div class="col-12 p-0">
        <select class="mt-2 col-12 p-0 select-district pl-3" (change)="redireccionar2()" [(ngModel)]="district">
          <option value="">Distritos</option>
          <option value="ANCON">ANCON</option>
          <option value="ATE">ATE</option>
          <option value="BARRANCO">BARRANCO</option>
          <option value="BREÑA">BREÑA</option>
          <option value="CARABAYLLO">CARABAYLLO</option>
          <option value="CHACLACAYO">CHACLACAYO</option>
          <option value="CHORRILLOS">CHORRILLOS</option>
          <option value="CIENEGUILLA">CIENEGUILLA</option>
          <option value="COMAS">COMAS</option>
          <option value="EL AGUSTINO">EL AGUSTINO</option>
          <option value="INDEPENDENCIA">INDEPENDENCIA</option>
          <option value="JESUS MARIA">JESUS MARIA</option>
          <option value="LA MOLINA">LA MOLINA</option>
          <option value="LA VICTORIA">LA VICTORIA</option>
          <option value="LIMA">LIMA</option>
          <option value="LINCE">LINCE</option>
          <option value="LOS OLIVOS">LOS OLIVOS</option>
          <option value="LURIGANCHO">LURIGANCHO</option>
          <option value="LURIN">LURIN</option>
          <option value="MAGDALENA DEL MAR">MAGDALENA DEL MAR</option>
          <option value="MIRAFLORES">MIRAFLORES</option>
          <option value="PACHACAMAC">PACHACAMAC</option>
          <option value="PUCUSANA">PUCUSANA</option>
          <option value="PUEBLO LIBRE">PUEBLO LIBRE</option>
          <option value="PUENTE PIEDRA">PUENTE PIEDRA</option>
          <option value="PUNTA HERMOSA">PUNTA HERMOSA</option>
          <option value="PUNTA NEGRA">PUNTA NEGRA</option>
          <option value="RIMAC">RIMAC</option>
          <option value="SAN BARTOLO">SAN BARTOLO</option>
          <option value="SAN BORJA">SAN BORJA</option>
          <option value="SAN ISIDRO">SAN ISIDRO</option>
          <option value="SAN JUAN DE LURIGANCHO">SAN JUAN DE LURIGANCHO</option>
          <option value="SAN JUAN DE MIRAFLORES">SAN JUAN DE MIRAFLORES</option>
          <option value="SAN LUIS">SAN LUIS</option>
          <option value="SAN MARTIN DE PORRES">SAN MARTIN DE PORRES</option>
          <option value="SAN MIGUEL">SAN MIGUEL</option>
          <option value="SANTA ANITA">SANTA ANITA</option>
          <option value="SANTA MARIA DEL MAR">SANTA MARIA DEL MAR</option>
          <option value="SANTA ROSA">SANTA ROSA</option>
          <option value="SANTIAGO DE SURCO">SANTIAGO DE SURCO</option>
          <option value="SURQUILLO">SURQUILLO</option>
          <option value="VILLA EL SALVADOR">VILLA EL SALVADOR</option>
          <option value="VILLA MARIA DEL TRIUNFO">VILLA MARIA DEL TRIUNFO</option>
        </select>
      </div> -->

    </div>

    <ion-slides pager="true" [options]="slideOpts" class="">
      <ion-slide *ngFor="let item of slides">
        <div class="img" style="background-image: url({{item.src}});"></div>
      </ion-slide>      
    </ion-slides>

    <nav class="row p-4 m-0 col-12">
      <div *ngFor="let cat of categories;let index = index" (click)="onclickOpenSubcategories(index, cat.subcategories.length, cat.name)" class="item col-12 bg-color2 row m-0  p-3 justify-content-between align-items-center mt-2">
          <div class="col-7 row m-0">
              <h6 class="item-title f-13 font-900 text-white m-0">{{cat.name}}</h6>
          </div>
          <div class="col-5 row m-0justify-content-start align-items-center">

              <img *ngIf="cat.icon.indexOf('https') > -1" width="40" class="mr-2" src="{{cat.icon}}">
              <img *ngIf="cat.icon.indexOf('https') === -1" width="40" class="mr-2" src="/assets/img/icons/services/{{cat.icon}}">
       
              <img *ngIf="cat.subcategories.length > 0" class="down ml-3" src="/assets/img/partials/down.svg">
          </div>
          <ng-container *ngIf="visibleIndices.has(index)">
              <div *ngFor="let subcat of cat.subcategories" class="subitem col-12 bg-white row m-0 justify-content-between align-items-center mt-2" [routerLink]="['/tabs/home/results/'+subcat.name]" >
                  <div class="col-8 row">
                      <h6 class="f-12 font-700 text-color2">{{subcat.name}}</h6>
                  </div>
                  <div class="col-4 row justify-content-end">
                    <img *ngIf="subcat.icon.indexOf('https') > -1" class="mr-3" src="{{subcat.icon}}">
                    <img *ngIf="subcat.icon.indexOf('https') === -1" class="mr-3" src="/assets/img/icons/services/{{subcat.icon}}">                    
                  </div>
              </div>
          </ng-container>
          
      </div>
  </nav>


</ion-content>


