<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart"></ion-icon>
      <!-- <ion-label>Inicio</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profile-provider">
      <ion-icon name="person"></ion-icon>
      <!-- <ion-label>Favoritos</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="portfolio">
      <ion-icon name="pie-chart"></ion-icon>
      <!-- <ion-label>Chat</ion-label> -->
    </ion-tab-button>

    <!-- <ion-tab-button tab="chat-provider/0">
      <label *ngIf="notifications != 0" class="bagge">{{notifications}}</label>
      <ion-icon name="chatbubble-ellipses"></ion-icon>
     
    </ion-tab-button> -->

    <ion-tab-button tab="config-provider">
      <ion-icon name="settings"></ion-icon>
      <!-- <ion-label>congig</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>
  
</ion-tabs>