<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>Inicio</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="featured">
      <ion-icon name="star"></ion-icon>
      <!-- <ion-label>Favoritos</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="chat/0">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <!-- <ion-label>Chat</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="config">
      <ion-icon name="settings"></ion-icon>
      <!-- <ion-label>congig</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>

  

</ion-tabs>